<div id="main" >
    <table st-table="productsCollection" class="table table-striped">
        <thead>
        <tr style="font-size: 12px">
            <th st-sort="product">Product</th>
            <th st-sort="teckStack">Technology stack</th>
        </tr>
        <tr>
            <th>
                <input st-search="productName" placeholder="search for product" class="input-sm form-control"
                       type="search"/>
            </th>
            <th colspan="3">
                <input st-search placeholder="search for tech stack" class="input-sm form-control" type="search"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in productsCollection">
            <td>{{product.productName | uppercase}}</td>
            <td>{{product.techStack}}</td>
            <td><a ng-href="#services/{{product.productName}}">Details</a></td>
        </tr>
        </tbody>
    </table>
</div><!--close main-->