<div class="collapse" id="view_{{product.productid}}" data-ng-if="product.items!=null">
    <div class="col-sm-offset-1">
        <table class="table-condensed responsive-table">
            <tr class="row">
                <th>#ID</th>
                <th>Item</th>
                <th>Amount</th>
                <th>Qty</th>
            </tr>
            <tr class="row" ng-repeat="item in product.items">
                <td data-ng-bind="item.prodDetailId"></td>
                <td data-ng-bind="item.prodDetailDesc"></td>
                <td data-ng-bind="item.amount | currency"></td>
                <td data-ng-bind="item.qty"></td>
            </tr>
        </table>
    </div>
</div>