<div id="main" ng-if="productCollection !== undefined">
    <table st-table="productCollection" class="table table table-inverse table-hover">
        <thead thead-inverse>
        <tr style="font-size: 12px">
            <th  width=220 st-sort="pName">Product <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th st-sort="devTech">Development tech stack</th>
            <th st-sort="qaTool">QA tools</th>
            <th st-sort="automationTech">Automation tech stack</th>
            <th>Automation %</th>
        </tr>
        <tr>
            <td>
                <input st-search="pName" value="" placeholder="Search for product..." class="input-sm form-control"
                       type="search"/><i class="fa fa-search fa-lg searchIcon" aria-hidden="true"></i>
            </td>
            <td colspan="3">
                <input st-search="" placeholder="Global search..." class="input-sm form-control" type="search"/>
               <i class="fa fa-search fa-lg searchIcon" aria-hidden="true"></i>
            </td>
         <!--   <th colspan="4">
                <input st-search="qaTool" placeholder="search for QA tools" class="input-sm form-control" type="search"/>
            </th>
            <th colspan="5">
                <input st-search="automationTech" placeholder="search for automation tech stack" class="input-sm form-control" type="search"/>
            </th>-->
        </tr>
        </thead>
        <tbody ng-repeat="product in productCollection">
        <tr class="main-row" ng-click="toggleDetail($index)" height = 70%>
            <td> <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> {{product.pName | uppercase}}</a></td>
            <td>{{product.devTech}}</td>
            <td>{{product.qaTool}}</td>
            <td>{{product.automationTech}}</td>
            <td>
                <div class="progress" ng-if="products !== undefined">
                    <a ng-href="#service/{{product.pName}}/{{product.pId}}" style="text-decoration:none">
                        <div  id = "product.pId" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{productAutomation[product.pId]}}%">
                            {{productAutomation[product.pId]}}%
                        </div>
                    </a>
                </div></td>
        </tr>
        <tr class="extra-row" ng-show="activePosition == $index" ng-if="products !== undefined"><td>
                    <td> <a ng-href="#service/{{product.pName}}/{{product.pId}}" style="text-decoration:none">
                        <i class="fa fa-th-list" aria-hidden="true" style="color:green"></i>
                        #services: {{products[product.pId].serviceDetails.length}}</a></td>
                    <td>#manual TC's: {{products[product.pId].productExpectedAutomationCount}} </td>
                    <td>#automation TC's: {{products[product.pId].productAutomationCount}}</td>
                </tr>
            </table>

</div><!--close main-->