<div id="main">
    <div>
        <table st-table="servicesCollection" class="table table-striped">
        <thead>
        <tr style="font-size: 12px">
            <th st-sort="WITS">{{productName}}</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td><p>  <p>Walmart Interface Testing system is a Automation Framwork developed to test the walmart interfaces </p></td>

        </tr>
        </tbody>
    </table>
    </div>
    <table st-table="servicesCollection" class="table table-striped">
        <thead>
        <tr>
            <th>
                <input st-search="serviceName" placeholder="search for services" class="input-sm form-control"
                       type="search"/>
            </th>
            <th colspan="3">
                <input st-search placeholder="search for statues" class="input-sm form-control" type="search"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="service in servicesCollection">
            <td>{{service.serviceName | uppercase}}</td>
            <td>
                <span ng-switch on={{service.status}}>
   <img ng-switch-when=true src='images/green-up.png' style="width:20px;height:18px;"/>
   <img ng-switch-default   src='images/red-error.png' style="width:20px;height:18px;"/>
</span>

                <!--<img ng-src="{{service.status ==ture && 'images/green-up.png' || 'images/red-error.png'}}" align="center" style="width:18px;height:18px;"/>--></td>
        </tr>
        </tbody>
    </table>
</div><!--close main-->